@media screen and (max-width: 600px) {
    .um {
        background-color: #F7FAFB;
        width: 300px;
        height: 132px;
    }
    .topo{
        color: black;
        top: -10px;
        left: 100px;
        font-size:15px
    }
}
 
/* min-width */
@media screen and (min-width: 900px) {
    .caixa-dois {
        background: #F90;
    }
    span.gt900 {
        display: inline-block;
    }
}
 
/* min-width & max-width */
@media screen and (min-width: 600px) and (max-width: 900px) {
    .caixa-tres {
        background: #9CF;
    }
    span.bt600-900 {
        display: inline-block;
    }
}
 
/* max device width */
@media screen and (max-device-width: 480px) {
    .wrapper-iphone {
        background: #ccc;
    }
}